.rotate-text {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.rotate-text .text {
    position: absolute;
    width: 450px;
    left: 50%;
    margin-left: -225px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
}

.rotate-text p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.rotate-text .word {
    position: absolute;
    width: 220px;
    opacity: 0;
}

.rotate-text .letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.rotate-text .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.rotate-text .letter.behind {
    transform: rotateX(-90deg);
}

.rotate-text .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rotate-text .wisteria {
    color: #8e44ad;
}

.rotate-text .belize {
    color: #2980b9;
}

.rotate-text .pomegranate {
    color: #c0392b;
}

.rotate-text .green {
    color: #16a085;
}

.rotate-text .midnight {
    color: #2c3e50;
}