body {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    background: #fffcf9;
}

body.active {
    overflow: hidden;
    z-index: -1
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes slideHeader {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0)
    }
}

.header {
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #062439;
}

.header .logo {
    margin: 0;
}

.header .menu {
    display: flex;
    gap: 1px;
}

.header .menu a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    word-wrap: break-word;
}

.header .dropdown {
    position: relative;
}

.header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #062439;
    min-width: 150px;
    width: 400px;
    z-index: 1;
    border-color: #062439;
}

.header .dropdown:hover .dropdown-content {
    display: block;
    background-color: #062439;
}

.header .dropdown-content a {
    color: #ffffff;
    display: block;
    background-color: #062439;
    padding: 15px 20px;
}

.header .free-analysis-button {
    display: inline-block;
    /* Ensure button is inline with link */
    background-color: #D93A40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    /* Remove default underline */
}

.header .free-analysis-button:hover {
    background-color: #fb141c96;
}

.header a {
    display: block;
    color: #ffffff;
    padding: 10px;
}

.header a.phone-number {
    font-size: 1.2em;
    margin-left: 25%;
    text-align: right;
}


.header .menu a:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid #D93A40;
}

.header .spacer {
    flex: 1;
    /* Make the spacer fill the remaining space */
}

.header .center-link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#menu.active {
    display: block
}

#mobile-menu-open {
    display: none;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #062439;
    font-size: 1.5em;
    z-index: 1;
    padding: 0 7px;
    border-radius: 4px;
    background: #ffffff;

}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    color: #062439
}

#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase
}

#mobile-menu-close i {
    vertical-align: middle
}

footer {
    padding: 20px;
    background-color: #062439;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    /* Limit maximum width */
    width: 100%;
    /* Ensure it takes full width */
}

footer .col {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* Center content horizontally */
}

footer .col h3 {
    color: #ffffff;
    font-size: .9em;
    margin-bottom: 10px;
    font-weight: 200;
}

footer .col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .col li {
    margin-bottom: 5px;
}

footer .col a {
    color: #ffffff;
    text-decoration: none;
    font-size: .8em;
}

footer .col a:hover {
    color: #D93A40;
}

.contact-us,
.navigation,
.resources,
.social-media {
    flex-grow: 1;
    /* Allow each column to grow vertically */
}

.contact-us,
.navigation,
.resources,
.social-media,
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    /* Center content vertically */
}

.copyright {
    align-self: flex-start;
}

.copyright p {
    color: #ffffff;
    font-size: 0.6em;
}

.top {
    text-align: center;
}

.top span {
    display: block;
    margin: 60px auto 0 auto;
    width: 20px;
    height: 20px;
    text-align: center
}

.top i {
    color: #062439
}

.social {
    display: flex;
    justify-content: flex-end;
    /* Align items to the far right */
}

.social ul {
    margin: 5px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    /* Align items to the far right */
}

.social li {
    font-size: 0.9em;
    list-style: none;
    margin-left: 50px;
}

.social a {
    display: block;
    color: #062439;
    padding: 10px;
}

.social a:hover {
    background-color: #D93A40;
    color: #ffffff;
    border-radius: 25px;
}

.btn-rounded-white {
    display: inline-block;
    color: #ffffff;
    background-color: #D93A40;
    padding: 20px 50px;
    /*border: 3px solid #ffffff;*/
    border-radius: 4px;
    transition: .5s ease all;
    font-size: 1.1em;
}

.btn-rounded-white:hover {
    background-color: #fffcf9;
    color: #062439;
    text-decoration: none;
    font-size: 1.1em;
}

.landing-page {
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    color: #ffffff;
    background-color: #063250;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.landing-page h1 {
    font-size: 3em;
    font-weight: 150;
    color: #ffffff;
    letter-spacing: -1px;
}

.landing-page p {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 150;
}

.landing-page .container {
    min-width: 90%;
    width: auto;
}

.landing-page .row {
    display: flex;
    /* Use flexbox to make the columns display next to each other */
    justify-content: space-between;
    /* Add space between the columns */
}

.landing-page .col {
    flex: 1;
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}

.landing-page .content {
    margin-right: 50px;
    text-align: left;
}

.landing-page .col img {
    max-width: 100%;
    /* Ensure the image does not exceed its container's width */
}

.software p {
    font-size: smaller;
    cursor: pointer;
}

.software p:hover {
    font-weight: 600;
}

.software .col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.integration-partners {
    background: #fffcf9;
    padding: 100px 50px;
    text-align: center;
    flex-direction: row;
}

.integration-partners h3 {
    font-size: 3em;
    font-weight: 150;
    margin-top: 100px;
    margin-bottom: 50px;
}

.integration-partners img {
    padding: 20px;
    margin-bottom: 50px;
}

.typewriter {
    position: absolute;
    top: 80%;
    left: 50%-200px;
    width: 200px;
}

.typewriter h3 {
    color: #ffffff;
    font-weight: 400;
    overflow: hidden;
    text-transform: uppercase;
    border-right: .15em solid #D93A40;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation:
        typing 3s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1.2, 1.2)
    }

    100% {
        transform: scale(1, 1)
    }
}

.why-us {
    background: #fffcf9;
    padding: 100px 100px;
    text-align: center;
    flex-direction: row;
}

.why-us h2 {
    font-size: 3em;
    font-weight: 150;
}

.why-us h3 {
    font-size: 6em;
    font-weight: 200;
    margin: 0;
}

.why-us p {
    margin-bottom: 50px;
    font-size: 1em;
    color: #062439;
}

#privacy-policy {
    background: #ffffff;
    padding: 100px 50px;
    text-align: left;
    flex-direction: row;
}

#privacy-policy h2 {
    font-size: 5em;
    font-weight: lighter;
    color: #062439;
}

#privacy-policy p {
    font-size: 20px;
    color: #062439;
}

#faq {
    background: #ffffff;
    padding: 10%;
    padding-right: 20%;
    text-align: left;
    flex-direction: row;
    color: #062439;
}

#faq h2 {
    font-size: 1.5em;
    text-transform: uppercase;
}

#faq h3 {
    font-weight: lighter;
    text-transform: uppercase;
}

#faq p {
    font-size: 0.9em;
    color: #062439;
}

#count-up {
    --num: 0;
    animation: counter 5s infinite alternate ease-in-out;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    padding: 2rem;
}

#count-up::after {
    content: counter(num);
}

@keyframes counter {
    from {
        --num: 0;
    }

    to {
        --num: attr(data-max);
    }
}

.about {
    width: 100%;
    padding: 100px 100px;
    text-align: center;
    flex-direction: row;
}

.about h3 {
    font-size: 3em;
    font-weight: 150;
    margin-top: 50px;
}

.about p {
    color: #062439;
    font-size: 20px;
    text-align: left;
    margin-top: 50px;
}

.about-us {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    justify-content: center;
    margin: 350px;
    padding: 20px 100px;
}

.about-us h3 {
    font-size: 2.5em;
    margin-top: 50px;
}

.about-us p {
    color: #062439;
    font-size: 20px;
    text-align: left;
    margin-top: 50px;
}

.about-us .col {
    margin-right: 1px;
    margin-left: 1px;
    align-items: center;
    text-align: center;
}

.about-us img {
    transition: transform .8s ease;
}

.about-us img:hover {
    transform: scale(1.2);
}

.services {
    margin-bottom: 20px;
    border-radius: 3px;
}

.services .col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 50px;
}

.services img {
    transition: transform .8s ease;
}

.services img:hover {
    transform: scale(1.2);
}

.services button {
    font-size: 80%;
    display: inline-block;
    background-color: #062439;
    color: white;
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.news {
    background: #fffcf9;
    padding: 100px 100px;
    flex-direction: row;
}

.news h2 {
    font-size: 3em;
    font-weight: 100;
    padding-left: 30px;
}

.news p {
    margin-bottom: 50px;
    font-size: 1em;
    color: #062439;
    padding: 10px;
}

.news .row {
    border: 1px solid #062439;
    margin: 20px;
}

.container img {
    margin-top: 100px;
}

/* Hide the dropdown content by default */
.dropdown-content {
    color: #062439;
    display: none;
    position: absolute;
    background: #fffcf9;
    min-width: 200px;
    padding: 10px;
    border: 3px solid #D93A40;
    border-radius: 3px;
    z-index: 1;
    transition: 1s ease all;
    width: calc(30%);
    height: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Show the dropdown content when the link is clicked */
.dropdown-link:focus+.dropdown-content,
.dropdown-link:hover+.dropdown-content {
    display: block;
    height: auto;
}

@media (max-width: 767px) {
    .experience .box {
        width: calc(50% - 20px);
        /* Adjust width as needed for smaller screens */
    }
}

.experience {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fffcf9;
}

.experience img {
    max-width: 100%;
    max-height: 80vh;
    padding: 20px;
    z-index: 0;
}

.vtimeline-content {
    margin-left: 350px;
    background: #ffffff;
    /*border: 1px solid #062439;
    border-radius: 3px;*/
    padding: 15px;
    text-align: left
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #062439;
    display: inline-block;
    margin: 0
}

.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #062439;
    margin: 0 0 15px 0
}

.vtimeline-content p {
    color: #062439;
    font-size: 0.9em;
    margin: 0
}

.vtimeline-point {
    position: relative;
    display: block;
    margin-bottom: 30px
}

.vtimeline-icon {
    position: relative;
    color: #062439;
    width: 50px;
    height: 50px;
    background: #ffffff;
    /*border-radius: 50%;*/
    float: left;
    z-index: 1;
    margin-left: 280px
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #062439
}

.testimonials {
    align-items: center;
    text-align: center;
    background: #fffcf9;
    padding: 100px 0;
}

.testimonials p {
    font-size: 1.2em;
    color: #062439;
    width: 60%;
    margin: 0 auto;
    /* Center the paragraph horizontally */
    margin-bottom: 100px;
    text-align: center;
    /* Center the text within the paragraph */
}


.testimonials h2 {
    font-size: 1.8em;
    color: #D93A40
}

.testimonials h3 {
    font-size: 3em;
    font-weight: 150;
}

.testimonials .carousel-control-prev-icon,
.testimonials .carousel-control-next-icon {
    filter: invert(1);
    /* This will invert the color of the button icons */
}

.testimonials .carousel-caption {
    bottom: 0;
}



#projects {
    padding: 50px 15px;
    /*border-bottom: 1px solid #ffffff;*/
    text-align: center
}

#projects h2 {
    color: #062439;
    margin-bottom: 50px
}

.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #062439;
    /*border-radius: 4px*/
}

.project-image {
    float: left
}

.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 300px;
    padding: 15px
}

.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #062439;
    margin: 0 0 15px 0
}

.project-info p {
    color: #062439;
    margin: 0 0 15px 0;
    font-size: 0.9em
}

.no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none
}

#more-projects {
    display: none
}

#skills {
    padding: 50px 15px;
    text-align: center
}

#skills h2 {
    color: #062439;
    margin-bottom: 50px
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #062439;
    background: #ffffff;
    list-style: none;
    font-size: 1.2em
}

.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns layout */
    grid-gap: 1px;
}

.options label {
    display: block;
    margin-bottom: 1px;
}

#analysis-report-form {
    text-align: left;
    padding: 100px 20px;
    overflow: hidden;
    background-color: #ffffff;
}

#analysis-report-form h3 {
    font-size: 3em;
    font-weight: 100;
}

#analysis-report-form select {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
}

#analysis-report-form .file-upload-label {
    display: block;
    width: 25%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #f3f3f3;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
    text-align: center;
}

#analysis-report-form .file-upload-label:hover {
    background-color: #062439;
    color: #ffffff;
}

#analysis-report-form input[type="file"] {
    display: none;
}

#analysis-report-form input[type="text"],
#analysis-report-form input[type="tel"],
#analysis-report-form input[type="email"] {
    width: 100%;
    border-radius: 4px;
}

#analysis-report-form .name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#analysis-report-form .name-fields input {
    width: 49%;
}

#analysis-report h2 {
    margin: 0 0 15px 0;
    color: #062439;
    font-weight: 500
}

#analysis-report p {
    font-size: 1.2em;
    color: #062439;
    font-weight: 500
}

#analysis-report-form {
    max-width: 1000px;
    margin: 0 auto;
}

#analysis-report-form input,
#analysis-report-form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
}

#analysis-report-form input[type="radio"],
#analysis-report-form input[type="checkbox"] {
    display: inline-block;
    width: auto;
    box-shadow: none;
}

#analysis-report-form input::-webkit-input-placeholder,
#analysis-report-form textarea::-webkit-input-placeholder {
    color: #0624393a
}

#analysis-report-form input:-moz-placeholder,
#analysis-report-form textarea:-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#analysis-report-form input::-moz-placeholder,
#analysis-report-form textarea::-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#analysis-report-form input:-ms-input-placeholder,
#analysis-report-form textarea:-ms-input-placeholder {
    color: #0624393a
}

#analysis-report-form input:focus,
#analysis-report-form textarea:focus {
    outline: none;
    background: #ffffff
}

#analysis-report-form textarea {
    height: 150px;
    resize: none
}

#contact {
    text-align: center;
    padding: 100px 50px;
    overflow: hidden;
    background-color: #fffcf9;
}

#contact-form .name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#contact-form .name-fields input {
    width: 49%;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group select,
.input-group input[type="date"] {
    width: 10%;
    /* Adjust as needed */
}

.input-group label {
    width: 10%;
    /* Adjust as needed */
    text-align: right;
    margin-right: 10px;
}

#contact h2 {
    margin: 0 0 15px 0;
    color: #062439;
    font-weight: bold;
}

#contact h3 {
    font-size: 3em;
    font-weight: 150;
}

#contact-form {
    max-width: 1000px;
    margin: 0 auto
}

#contact-form select {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #fffcf9;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
}

#contact-form select:focus {
    outline: none;
    background-color: #f3f3f3;
    /* Change background color on focus */
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #fffcf9;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: #0624393a
}

#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: #0624393a
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #f3f3f3
}

#contact-form textarea {
    height: 150px;
    resize: none
}

.cat-container {
    position: fixed;
    bottom: -100px;
    left: 80%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease;
    z-index: 1000;
    animation: catImage 15s ease-in-out infinite alternate;
}

.cat-container p {
    text-align: center;
    font-size: 1.2em;
}

.cat-container:hover {
    bottom: -100px;
    animation: popUpAndDown 2s ease-in-out forwards, catImage 30s ease-in-out infinite alternate;
}

.hidden {
    display: none;
}



@keyframes popUpAndDown {
    0% {
        bottom: -100px;
    }

    50% {
        bottom: -30px;
        /* Pop up */
    }

    100% {
        bottom: -50px;
        /* Back down */
    }
}

@keyframes catImage {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.optional-section {
    padding: 50px 15px;
    text-align: center;
    /*border-top: 1px solid #062439*/
}

.optional-section h2 {
    color: #062439
}

.optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    /*border: 1px solid #062439;*/
    background: #ffffff;
    text-align: left
}

.optional-section-block h3 {
    font-weight: 500;
    margin: 0 0 15px 0;
    color: #062439
}

.optional-section-block h4 {
    color: #062439;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0
}

.optional-section-block p,
.optional-section-block ul {
    margin: 0 0 15px 0;
    color: #062439;
    font-size: 0.9em
}

.optional-section-block ul {
    padding: 0 0 0 15px
}