body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    background: #062439;
}

body.active {
    overflow: hidden;
    z-index: -1
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes slideHeader {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0)
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
    /* Ensure it stays on top of other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #062439;
}

.header .logo {
    max-width: 100px;
    /* Adjust as needed */
}

.header .menu {
    display: flex;
    gap: 20px;
}

.header .menu a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.header .free-analysis-button {
    background-color: #ff5100;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header a {
    display: block;
    color: #ffffff;
    padding: 10px;
}

.header .menu a:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid #ff5100;
    font-weight: bold;
}

#menu.active {
    display: block
}

#mobile-menu-open {
    display: none;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #062439;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #ffffff;

}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: #ffffff;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    color: #062439
}

#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase
}

#mobile-menu-close i {
    vertical-align: middle
}

footer {
    padding: 50px 0;
    background-color: #ffffff;
}

.copyright {
    padding-top: 20px;
    font-size: 10px
}

.copyright p {
    margin: 0;
    color: #062439;
    font-size: 10px
}

.top {
    text-align: center
}

.top span {
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    /*border-radius: 50%;
    border: 3px solid #062439;*/
    text-align: center
}

.top i {
    color: #062439
}

.social {
    text-align: right;
}

.social ul {
    margin: 5px 0 0 0;
    padding: 0;
    display: flex;
    /* Use flexbox */
    justify-content: flex-end;
    /* Align items to the end */
}


.social li {
    font-size: 1.25em;
    list-style: none;
    margin-left: 10px;
    /* Add some spacing between icons */
}

.social a {
    display: block;
    color: #062439;
    padding: 10px;
}

.social a:hover {
    background-color: #ff5100;
    color: #ffffff;
    border-radius: 25px;
}


.btn-rounded-white {
    display: inline-block;
    color: #ffffff;
    background-color: #ff5100;
    padding: 20px 50px;
    /*border: 3px solid #ffffff;*/
    border-radius: 4px;
    transition: .5s ease all;
    font-size: 1.1em;
}

.btn-rounded-white:hover {
    background-color: #ffffff;
    color: #062439;
    text-decoration: none;
    font-size: 1.1em;
}

.heading-fixed {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 100;
    margin: 0 0 30px 0;
    color: #062439;
    margin-bottom: -5px;
    padding-bottom: -5px;
    font-weight: bold;
    text-align: center;
    transition: 0.2s ease all;
}

.heading-fixed:hover {
    font-size: 2.1em;
    border-bottom: 4px solid #ff5100;
    /* Increase font-size on hover */
}

.heading-fixed:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

@keyframes revealWave {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.lead {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #062439;
    overflow: hidden;
}

.lead .line {
    width: 200%
}

.lead .left,
.lead .right {
    margin: 0;
    padding: 0;
    width: 50vw;
    overflow: hidden;
    display: inline-block;
}

.lead .left {
    margin: 0;
    padding: 0;
    color: #ff5100;
    transform: skew(0deg, -1deg);
    /*skew(0deg, -5deg)*/
}

.lead .right {
    margin: 0;
    padding: 0;
    color: #ffffff;
    transform: skew(0deg, 1deg);
    /*skew(0deg, 5deg)*/
}

.lead .left .content {
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
}

.lead .right .content {
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    transform: translate(-50vw);
}

.lead span {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 150px;
    text-transform: uppercase;
    line-height: .8;
    transition: ease-out .6s;
}

.typewriter {
    position: absolute;
    top: 80%;
    left: 50%-200px;
    width: 200px;
}

.typewriter h3 {
    color: #ffffff;
    font-weight: 400;
    overflow: hidden;
    text-transform: uppercase;
    border-right: .15em solid #ff5100;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation:
        typing 3s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #ff5100
    }
}

#lead-content {
    color: #ffffff;
    position: absolute;
    z-index: 10;
    top: 50%;
    /* Adjust the Button location */
    left: 85%;
    /* Adjust the Button location */
    transform: translate(-50%, -50%);
    text-align: center
}

#lead-content h1,
#lead-content h2 {
    margin: 0
}

#lead-content h3 {
    font-size: 25px;
    font-weight: lighter;
}

#lead-content h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em
}

#lead-content h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 15px
}

#lead-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/Transfreight_home2.png);
    background-size: cover;
    padding: 15px;
    overflow: hidden;
    opacity: 0.9;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2s;
}



@keyframes pulsate {
    0% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1.2, 1.2)
    }

    100% {
        transform: scale(1, 1)
    }
}

#why-us {
    background: #fafafa;
    padding: 100px 50px;
    text-align: center;
}

#why-us h2 {
    font-size: 5em;
    font-weight: lighter;
    color: #ff5100;
}

#why-us p {
    font-size: 20px;
    color: #000000;
}

#count-up {
    --num: 0;
    animation: counter 5s infinite alternate ease-in-out;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    padding: 2rem;
}

#count-up::after {
    content: counter(num);
}

@keyframes counter {
    from {
        --num: 0;
    }

    to {
        --num: attr(data-max);
    }
}

#about {
    padding: 100px 50px;
    width: 100%;
    background-color: #ffffff
}

#about h3 {
    color: #062439
}

#about p {
    color: #062439;
    font-size: 20px;
    text-align: centre;
}

/* Hide the dropdown content by default */
.dropdown-content {
    color: #062439;
    display: none;
    position: absolute;
    background: #fafafa;
    min-width: 200px;
    padding: 10px;
    border: 3px solid #ff5100;
    border-radius: 5px;
    z-index: 1;
    transition: 1s ease all;
    width: calc(30%);
    height: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Show the dropdown content when the link is clicked */
.dropdown-link:focus+.dropdown-content,
.dropdown-link:hover+.dropdown-content {
    display: block;
    height: auto;
}

@media (max-width: 767px) {
    .experience .box {
        width: calc(50% - 20px);
        /* Adjust width as needed for smaller screens */
    }
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #ffffff;
    z-index: 0
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff, rgba(52, 152, 219, 0));
    top: 100%;
    left: 303px
}

.experience {
    padding: 100px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    justify-content: center;
    background: #ffffff;
}

.hover-text {
    width: 100%;
    margin: 90px auto;
    position: relative;
    font-family: 'Helvetica', sans-serif;
}

.hover-text h2 {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: -0.05em;
    text-align: center;
    line-height: 0.5;
    color: #062439;
    transform-origin: center bottom;
    transition: all 0.4s;

    &:first-of-type {
        transform-origin: center top;
    }

    .hover-text:hover & {
        transform: scaleY(0);
    }
}

.hover-text .text {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.3s;

    &:before,
    &:after {
        display: block;
        margin: 50px;
        height: 5px;
        background: #ff5100;
        content: '';
        transition: all 1s;
    }

    &:hover {
        background: #ff5100;

        &:before,
        &:after {
            margin: 0;
        }
    }
}

.hover-text .inner {
    padding: 0 60px;
    max-height: 0;
    overflow: hidden;
    background: #ffffff;
    line-height: 1.5;
    font-size: 1em;
    transform: scale(0);
    transition: all 0.3s;

    .hover-text:hover & {
        padding: 60px;
        max-height: 300px;
        transform: scale(1);
    }
}


.vtimeline-content {
    margin-left: 350px;
    background: #ffffff;
    /*border: 1px solid #062439;
    border-radius: 3px;*/
    padding: 15px;
    text-align: left
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #062439;
    display: inline-block;
    margin: 0
}

.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #062439;
    margin: 0 0 15px 0
}

.vtimeline-content p {
    color: #062439;
    font-size: 0.9em;
    margin: 0
}

.vtimeline-point {
    position: relative;
    display: block;
    margin-bottom: 30px
}

.vtimeline-icon {
    position: relative;
    color: #062439;
    width: 50px;
    height: 50px;
    background: #ffffff;
    /*border-radius: 50%;*/
    float: left;
    z-index: 99;
    margin-left: 280px
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #062439
}

#testimonials {
    text-align: center;
    background: #fafafa;
    padding: 100px 50px;
}

#testimonials-rotate {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(7, 35%);
    /* Adjust width percentage as needed */
    gap: 1px;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#testimonials .box {
    text-align: center;
    position: relative;
    width: 80%;
    animation: rotateTestimonials 35s linear infinite;
    transition: all 1s ease;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#testimonials:hover .box {
    animation-play-state: paused;
}

@keyframes rotateTestimonials {
    0% {
        transform: translateX(500%);
    }

    100% {
        transform: translateX(-500%);
    }
}

/* Adjust the size and color of the text */
#testimonials p {
    font-size: 1.2em;
    /* Adjust the font size as needed */
    color: #062439;
    /* Adjust the color as needed */
}

#testimonials h2 {
    font-size: 1.8em;
    color: #ff5100
}

#projects {
    padding: 50px 15px;
    /*border-bottom: 1px solid #ffffff;*/
    text-align: center
}

#projects h2 {
    color: #062439;
    margin-bottom: 50px
}

.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #062439;
    /*border-radius: 4px*/
}

.project-image {
    float: left
}

.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 300px;
    padding: 15px
}

.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #062439;
    margin: 0 0 15px 0
}

.project-info p {
    color: #062439;
    margin: 0 0 15px 0;
    font-size: 0.9em
}

.no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none
}

#more-projects {
    display: none
}

#skills {
    padding: 50px 15px;
    text-align: center
}

#skills h2 {
    color: #062439;
    margin-bottom: 50px
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #062439;
    background: #ffffff;
    list-style: none;
    font-size: 1.2em
}

.container {
    display: flex;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;*/
    font-size: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: space-between;

}

.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
}

.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns layout */
    grid-gap: 1px;
}

.grid-container2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Four columns layout */
    grid-gap: 1px;
}

.options label {
    display: block;
    margin-bottom: 1px;
}

#analysis-report-form {
    padding: 100px 15px;
    background: #ffffff;
    text-align: left;
    width: 100%;
}

#analysis-report-form .file-upload-label {
    display: block;
    width: 25%;
    padding: 15px;
    margin-bottom: 15px;
    /*border: solid #062439;
    border-width: 1px;*/
    border-radius: 4px;
    background-color: #f3f3f3;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
    text-align: center;
}

#analysis-report-form .file-upload-label:hover {
    background-color: #062439;
    color: #ffffff;
}

#analysis-report-form input[type="file"] {
    display: none;
}

#analysis-report-form input[type="text"],
#analysis-report-form input[type="tel"],
#analysis-report-form input[type="email"] {
    width: 100%;
    /*border: solid #062439;
    border-width: 1px;*/
    border-radius: 4px;
}

#analysis-report-form .name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#analysis-report-form .name-fields input {
    width: 49%;
}

#analysis-report h2 {
    margin: 0 0 15px 0;
    color: #062439;
    font-weight: 500
}

#analysis-report p {
    font-size: 1.2em;
    color: #062439;
    font-weight: 500
}

#analysis-report-form {
    max-width: 1000px;
    margin: 0 auto;
}

#analysis-report-form input,
#analysis-report-form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
}

#analysis-report-form input[type="radio"],
#analysis-report-form input[type="checkbox"] {
    display: inline-block;
    width: auto;
    box-shadow: none;
}

#analysis-report-form input::-webkit-input-placeholder,
#analysis-report-form textarea::-webkit-input-placeholder {
    color: #0624393a
}

#analysis-report-form input:-moz-placeholder,
#analysis-report-form textarea:-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#analysis-report-form input::-moz-placeholder,
#analysis-report-form textarea::-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#analysis-report-form input:-ms-input-placeholder,
#analysis-report-form textarea:-ms-input-placeholder {
    color: #0624393a
}

#analysis-report-form input:focus,
#analysis-report-form textarea:focus {
    outline: none;
    background: #ffffff
}

#analysis-report-form textarea {
    height: 150px;
    resize: none
}

/*#analysis-report-form button {
    display: block;
    width: 20%;
    background: #ff5100;
    border: none;
    border-radius: 4px;
    padding: 10px 5px;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: .5s ease all
}

#analysis-report-form button:hover {
    box-shadow: 0 10px 20px 000(0, 0, 0, 0.19), 0 6px 6px ffffff(0, 0, 0, 0.23);
    background-color: #062439;
    color: #ffffff;
}*/

#contact {
    text-align: center;
    padding: 100px 50px;
    overflow: hidden;
    background-color: #f3f3f3;
}

#contact-form .name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#contact-form .name-fields input {
    width: 49%;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group select,
.input-group input[type="date"] {
    width: 10%;
    /* Adjust as needed */
}

.input-group label {
    width: 10%;
    /* Adjust as needed */
    text-align: right;
    margin-right: 10px;
}

#contact h2 {
    margin: 0 0 15px 0;
    color: #062439;
    font-weight: bold;
}

#contact h3 {
    margin: 0 0 50px 0;
}

#contact-form {
    max-width: 1000px;
    margin: 0 auto
}

#contact-form select {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
}

#contact-form select:focus {
    outline: none;
    background-color: #ffffff;
    /* Change background color on focus */
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: #0624393a
}

#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: #0624393a
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #ffffff
}

#contact-form textarea {
    height: 150px;
    resize: none
}

/*#contact-form button {
    display: block;
    width: 20%;
    background: #ff5100;
    padding: 10px 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: .5s ease all
}

#contact-form button:hover {
    box-shadow: 0 10px 20px 000(0, 0, 0, 0.19), 0 6px 6px ffffff(0, 0, 0, 0.23);
    background-color: #062439;
    color: #ffffff;
}*/

.optional-section {
    padding: 50px 15px;
    text-align: center;
    /*border-top: 1px solid #062439*/
}

.optional-section h2 {
    color: #062439
}

.optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    /*border: 1px solid #062439;*/
    background: #ffffff;
    text-align: left
}

.optional-section-block h3 {
    font-weight: 500;
    margin: 0 0 15px 0;
    color: #062439
}

.optional-section-block h4 {
    color: #062439;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0
}

.optional-section-block p,
.optional-section-block ul {
    margin: 0 0 15px 0;
    color: #062439;
    font-size: 0.9em
}

.optional-section-block ul {
    padding: 0 0 0 15px
}

@media only screen and (max-width: 750px) {

    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px
    }

    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px
    }

    .vtimeline-icon {
        margin-left: 0
    }

    .vtimeline-content {
        margin-left: 70px
    }
}