body {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;

}

body.active {
    overflow: hidden;
    z-index: -1
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes slideHeader {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0)
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
    /* Ensure it stays on top of other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #062439;
}

.header .logo {
    max-width: 100px;
    /* Adjust as needed */
}

.header .menu {
    display: flex;
    gap: 5px;
}

.header .menu a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.header .free-analysis-button {
    display: inline-block;
    /* Ensure button is inline with link */
    background-color: #FB141D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    /* Remove default underline */
}

.header .free-analysis-button:hover {
    background-color: #fb141c96;
}



.header a {
    display: block;
    color: #ffffff;
    padding: 10px;
}

.header .menu a:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid #FB141D;
    font-weight: bold;
}

#menu.active {
    display: block
}

#mobile-menu-open {
    display: none;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #062439;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #ffffff;

}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: #ffffff;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    color: #062439
}

#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase
}

#mobile-menu-close i {
    vertical-align: middle
}

footer {
    padding: 20px;
    background-color: #062439;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer-column {
    flex: 1 1 30%;
    margin-bottom: 20px;
    line-height: .8;
}

.footer-column h3 {
    color: #ffffff;
    font-size: .9em;
    margin-bottom: 10px;
    font-weight: 200;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-column a {
    color: #ffffff;
    text-decoration: none;
    font-size: .8em;
}

.footer-column a:hover {
    color: #FB141D;
}

.copyright {
    flex-basis: 100%;
    text-align: left;
    font-size: 0.6em;
}

.copyright p {
    margin: 0;
    color: #ffffff;
}

.top {
    text-align: center;
}

.top span {
    display: block;
    margin: 60px auto 0 auto;
    width: 20px;
    height: 20px;
    text-align: center
}

.top i {
    color: #062439
}

.social {
    display: flex;
    justify-content: flex-end;
    /* Align items to the far right */
}

.social ul {
    margin: 5px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    /* Align items to the far right */
}

.social li {
    font-size: 0.9em;
    list-style: none;
    margin-left: 50px;
}

.social a {
    display: block;
    color: #062439;
    padding: 10px;
}

.social a:hover {
    background-color: #FB141D;
    color: #ffffff;
    border-radius: 25px;
}

.btn-rounded-white {
    display: inline-block;
    color: #ffffff;
    background-color: #FB141D;
    padding: 20px 50px;
    /*border: 3px solid #ffffff;*/
    border-radius: 4px;
    transition: .5s ease all;
    font-size: 1.1em;
}

.btn-rounded-white:hover {
    background-color: #ffffff;
    color: #062439;
    text-decoration: none;
    font-size: 1.1em;
}

.heading-fixed {
    position: relative;
    display: inline-block;
    font-weight: 200;
    font-size: 2em;
    margin: 0 0 30px 0;
    color: #062439;
    margin-bottom: -5px;
    padding-bottom: -5px;
    text-align: center;
}

@keyframes revealWave {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.landing-page {
    height: 100vh;
    background-color: #133953;
    background-size: cover;
    padding: 1px;
    overflow: hidden;
    z-index: 0;
}

.landing-page-image {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 70%;
    height: 70%;
    background: url(../images/landing-image.png) no-repeat right;
    background-size: contain;
    z-index: 1;
}

.landing-page-content {
    background-color: #133953;
    border: 2px solid #133953;
    border-radius: 25px;
    margin-right: calc(33.333% + 100px);
    margin-left: 5%;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    overflow: hidden;
    margin-top: 30vh;
    position: relative;
    z-index: 2;
}

.landing-page-content h1 {
    font-size: 3em;
    font-weight: 150;
    color: #ffffff;
    letter-spacing: -1px;


}

.landing-page-content p,
.landing-page-content button {
    color: #ffffff;
}

.landing-page-content button {
    align-items: left;
    padding: 15px 30px;
    background-color: #FB141D;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.landing-page-content button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #d14900;
    color: #ffffff;
}

.landing-page::before {
    /* Use ::before pseudo-element for overlay */
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}


.typewriter {
    position: absolute;
    top: 80%;
    left: 50%-200px;
    width: 200px;
}

.typewriter h3 {
    color: #ffffff;
    font-weight: 400;
    overflow: hidden;
    text-transform: uppercase;
    border-right: .15em solid #FB141D;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation:
        typing 3s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1.2, 1.2)
    }

    100% {
        transform: scale(1, 1)
    }
}

#why-us {
    background: #fafafa;
    padding: 100px 50px;
    text-align: center;
    flex-direction: row;
}

#why-us h2 {
    font-size: 5em;
    font-weight: lighter;
    color: #FB141D;
}

#why-us p {
    font-size: 20px;
    color: #062439;
}

#privacy-policy {
    background: #ffffff;
    padding: 100px 50px;
    text-align: left;
    flex-direction: row;
}

#privacy-policy h2 {
    font-size: 5em;
    font-weight: lighter;
    color: #062439;
}

#privacy-policy p {
    font-size: 20px;
    color: #062439;
}

#faq {
    background: #ffffff;
    padding: 10px 50px;
    text-align: left;
    flex-direction: row;
    color: #062439;
}

#faq h2 {
    font-size: 1.5em;
}

#faq h3 {
    font-weight: lighter;
}

#faq p {
    font-size: 0.9em;
    color: #062439;
}

#count-up {
    --num: 0;
    animation: counter 5s infinite alternate ease-in-out;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    padding: 2rem;
}

#count-up::after {
    content: counter(num);
}

@keyframes counter {
    from {
        --num: 0;
    }

    to {
        --num: attr(data-max);
    }
}

#about {
    padding: 100px 50px;
    width: 100%;
    background-color: #ffffff
}

#about h3 {
    color: #062439
}

#about p {
    color: #062439;
    font-size: 20px;
    text-align: centre;
}

/* Hide the dropdown content by default */
.dropdown-content {
    color: #062439;
    display: none;
    position: absolute;
    background: #fafafa;
    min-width: 200px;
    padding: 10px;
    border: 3px solid #FB141D;
    border-radius: 5px;
    z-index: 1;
    transition: 1s ease all;
    width: calc(30%);
    height: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Show the dropdown content when the link is clicked */
.dropdown-link:focus+.dropdown-content,
.dropdown-link:hover+.dropdown-content {
    display: block;
    height: auto;
}

@media (max-width: 767px) {
    .experience .box {
        width: calc(50% - 20px);
        /* Adjust width as needed for smaller screens */
    }
}

.experience {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.experience img {
    height: 800px;
    padding: 20px;
}


.experience-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    justify-content: center;
}

.experience-grid .hover-text {
    width: 50%;
    margin: 100px auto;
    position: relative;
    /*background-color: #062439;*/
}

.experience-grid .hover-text:nth-child(1) {
    top: 10%;
    /* Position the first box */
    left: 5%;
}

.experience-grid .hover-text:nth-child(2) {
    top: 10%;
    /* Position the second box */
    right: 5%;
}

.experience-grid .hover-text:nth-child(3) {
    top: 30%;
    /* Position the third box */
    left: 5%;
}

.experience-grid .hover-text:nth-child(4) {
    top: 30%;
    /* Position the fourth box */
    right: 5%;
}

.experience-grid .hover-text:nth-child(5) {
    bottom: -45%;
    /* Position the fifth box */
    left: 5%;
}

.experience-grid .hover-text:nth-child(6) {
    bottom: -45%;
    /* Position the sixth box */
    right: 5%;
}

.experience-grid:hover .hover-text {
    opacity: 1;
    /* Show the boxes on hover */
}

.experience-grid .hover-text h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: -0.05em;
    text-align: center;
    line-height: 0.9;
    color: #06243900;
    transform-origin: center bottom;
    transition: all 0.4s;

    &:first-of-type {
        transform-origin: center top;
    }

    .experience-grid .hover-text:hover & {
        transform: scaleY(0);
    }
}

.experience-grid .hover-text .text {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.3s;

    &:before,
    &:after {
        display: block;
        margin: 50px;
        height: 5px;
        background: #fb141c00;
        content: '';
        transition: all 1s;
    }

    &:hover {
        background: #FB141D;

        &:before,
        &:after {
            margin: 0;
        }
    }
}

.experience-grid .hover-text .inner {
    padding: 0 60px;
    max-height: 0;
    overflow: hidden;
    background: #ffffff;
    line-height: 1.5;
    font-size: 1em;
    transform: scale(0);
    transition: all 0.3s;

    .hover-text:hover & {
        padding: 60px;
        max-height: 300px;
        transform: scale(1);
    }
}

.vtimeline-content {
    margin-left: 350px;
    background: #ffffff;
    /*border: 1px solid #062439;
    border-radius: 3px;*/
    padding: 15px;
    text-align: left
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #062439;
    display: inline-block;
    margin: 0
}

.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #062439;
    margin: 0 0 15px 0
}

.vtimeline-content p {
    color: #062439;
    font-size: 0.9em;
    margin: 0
}

.vtimeline-point {
    position: relative;
    display: block;
    margin-bottom: 30px
}

.vtimeline-icon {
    position: relative;
    color: #062439;
    width: 50px;
    height: 50px;
    background: #ffffff;
    /*border-radius: 50%;*/
    float: left;
    z-index: 99;
    margin-left: 280px
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #062439
}

#testimonials {
    text-align: center;
    background: #fafafa;
    padding: 100px 50px;
}

#testimonials-rotate {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(7, 35%);
    /* Adjust width percentage as needed */
    gap: 1px;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#testimonials .box {
    text-align: center;
    position: relative;
    width: 80%;
    animation: rotateTestimonials 35s linear infinite;
    transition: all 1s ease;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#testimonials:hover .box {
    animation-play-state: paused;
}

@keyframes rotateTestimonials {
    0% {
        transform: translateX(500%);
    }

    100% {
        transform: translateX(-500%);
    }
}

/* Adjust the size and color of the text */
#testimonials p {
    font-size: 1.2em;
    /* Adjust the font size as needed */
    color: #062439;
    /* Adjust the color as needed */
}

#testimonials h2 {
    font-size: 1.8em;
    color: #FB141D
}

#projects {
    padding: 50px 15px;
    /*border-bottom: 1px solid #ffffff;*/
    text-align: center
}

#projects h2 {
    color: #062439;
    margin-bottom: 50px
}

.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #062439;
    /*border-radius: 4px*/
}

.project-image {
    float: left
}

.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 300px;
    padding: 15px
}

.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #062439;
    margin: 0 0 15px 0
}

.project-info p {
    color: #062439;
    margin: 0 0 15px 0;
    font-size: 0.9em
}

.no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none
}

#more-projects {
    display: none
}

#skills {
    padding: 50px 15px;
    text-align: center
}

#skills h2 {
    color: #062439;
    margin-bottom: 50px
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #062439;
    background: #ffffff;
    list-style: none;
    font-size: 1.2em
}

.container {
    display: flex;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;*/
    font-size: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: space-between;

}

.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
}

.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns layout */
    grid-gap: 1px;
}

.why-us-grid {
    background: #fafafa;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    justify-content: center;
}

.why-us-grid img {
    width: 400px;
    height: 400px;
    animation: whyUsImage 1s ease-in-out infinite alternate;
}

@keyframes whyUsImage {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(1deg);
    }
}

.why-us-grid .hover-text {
    width: 400px;
    margin: 100px auto;
    position: relative;
}

.why-us-grid:hover .hover-text {
    opacity: 1;
    /* Show the boxes on hover */
}

.why-us-grid .hover-text h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: -0.05em;
    text-align: center;
    line-height: 0.9;
    color: #06243900;
    transform-origin: center bottom;
    transition: all 0.4s;

    &:first-of-type {
        transform-origin: center top;
    }

    .why-us-grid .hover-text:hover & {
        transform: scaleY(0);
    }
}

.why-us-grid .hover-text .text {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.3s;

    &:before,
    &:after {
        display: block;
        margin: 50px;
        height: 5px;
        background: #fb141c00;
        content: '';
        transition: all .5s;
    }

    &:hover {
        background: #062439;

        &:before,
        &:after {
            margin: 0;
        }
    }
}

.why-us-grid .hover-text .inner {
    padding: 0 60px;
    max-height: 0;
    overflow: hidden;
    background: #ffffff;
    line-height: 1.5;
    font-size: 1.5em;
    transform: scale(0);
    transition: all 0.5s;
    text-align: center;

    .hover-text:hover & {
        padding: 60px;
        max-height: 300px;
        transform: scale(1);
    }
}

.why-us-grid .hover-text .inner h3 {
    color: #FB141D;
    text-transform: uppercase;
}

.options label {
    display: block;
    margin-bottom: 1px;
}

#analysis-report-form {
    text-align: left;
    padding: 100px 20px;
    overflow: hidden;
    background-color: #ffffff;
}

#analysis-report-form select {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
}

#analysis-report-form .file-upload-label {
    display: block;
    width: 25%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #f3f3f3;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
    text-align: center;
}

#analysis-report-form .file-upload-label:hover {
    background-color: #062439;
    color: #ffffff;
}

#analysis-report-form input[type="file"] {
    display: none;
}

#analysis-report-form input[type="text"],
#analysis-report-form input[type="tel"],
#analysis-report-form input[type="email"] {
    width: 100%;
    border-radius: 4px;
}

#analysis-report-form .name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#analysis-report-form .name-fields input {
    width: 49%;
}

#analysis-report h2 {
    margin: 0 0 15px 0;
    color: #062439;
    font-weight: 500
}

#analysis-report p {
    font-size: 1.2em;
    color: #062439;
    font-weight: 500
}

#analysis-report-form {
    max-width: 1000px;
    margin: 0 auto;
}

#analysis-report-form input,
#analysis-report-form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
}

#analysis-report-form input[type="radio"],
#analysis-report-form input[type="checkbox"] {
    display: inline-block;
    width: auto;
    box-shadow: none;
}

#analysis-report-form input::-webkit-input-placeholder,
#analysis-report-form textarea::-webkit-input-placeholder {
    color: #0624393a
}

#analysis-report-form input:-moz-placeholder,
#analysis-report-form textarea:-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#analysis-report-form input::-moz-placeholder,
#analysis-report-form textarea::-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#analysis-report-form input:-ms-input-placeholder,
#analysis-report-form textarea:-ms-input-placeholder {
    color: #0624393a
}

#analysis-report-form input:focus,
#analysis-report-form textarea:focus {
    outline: none;
    background: #ffffff
}

#analysis-report-form textarea {
    height: 150px;
    resize: none
}

#contact {
    text-align: center;
    padding: 100px 50px;
    overflow: hidden;
    background-color: #ffffff;
}

#contact-form .name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#contact-form .name-fields input {
    width: 49%;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group select,
.input-group input[type="date"] {
    width: 10%;
    /* Adjust as needed */
}

.input-group label {
    width: 10%;
    /* Adjust as needed */
    text-align: right;
    margin-right: 10px;
}

#contact h2 {
    margin: 0 0 15px 0;
    color: #062439;
    font-weight: bold;
}

#contact h3 {
    margin: 0 0 50px 0;
}

#contact-form {
    max-width: 1000px;
    margin: 0 auto
}

#contact-form select {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #ffffff;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439;
}

#contact-form select:focus {
    outline: none;
    background-color: #f3f3f3;
    /* Change background color on focus */
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #ffffff;
    transition: .5s ease all;
    font-weight: normal;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #062439
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: #0624393a
}

#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: #0624393a;
    opacity: 1
}

#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: #0624393a
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #f3f3f3
}

#contact-form textarea {
    height: 150px;
    resize: none
}

.optional-section {
    padding: 50px 15px;
    text-align: center;
    /*border-top: 1px solid #062439*/
}

.optional-section h2 {
    color: #062439
}

.optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    /*border: 1px solid #062439;*/
    background: #ffffff;
    text-align: left
}

.optional-section-block h3 {
    font-weight: 500;
    margin: 0 0 15px 0;
    color: #062439
}

.optional-section-block h4 {
    color: #062439;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0
}

.optional-section-block p,
.optional-section-block ul {
    margin: 0 0 15px 0;
    color: #062439;
    font-size: 0.9em
}

.optional-section-block ul {
    padding: 0 0 0 15px
}