@-webkit-keyframes extend {
    0% {
        width: 150px;
        /*Done*/
        height: 50px;
        /*Done*/
        border-radius: 25px;
        /*Done*/
    }

    10% {
        width: 152px;
        /*Done*/
        height: 52px;
        /*Done*/
        background: #062439;
        margin-left: - 5px;
        margin-top: - 5px;
    }

    20% {
        width: 150px;
        /*Done*/
        height: 50px;
        /*Done*/
        background: #062439;
        margin-left: 0px;
        margin-top: 0px;
    }

    100% {
        width: 50px;
        /*Done*/
        height: 50px;
        /*Done*/
        border-radius: 25px;
        /*Done*/
        margin-left: 48px;
        /*Done*/
        background: #062439;
    }
}

@keyframes extend {
    0% {
        width: 150px;
        /*Done*/
        height: 50px;
        /*Done*/
        border-radius: 25px;
        /*Done*/
    }

    10% {
        width: 152px;
        /*Done*/
        height: 52px;
        /*Done*/
        background: #062439;
        margin-left: - 5px;
        margin-top: - 5px;
    }

    20% {
        width: 150px;
        /*Done*/
        height: 50px;
        /*Done*/
        background: #062439;
        margin-left: 0px;
        margin-top: 0px;
    }

    100% {
        width: 50px;
        /*Done*/
        height: 50px;
        /*Done*/
        border-radius: 25px;
        /*Done*/
        margin-left: 48px;
        /*Done*/
        background: #062439;
    }
}

@-webkit-keyframes disappear {
    0% {
        opacity: 1;
    }

    20% {
        color: #ffffff;
    }

    100% {
        opacity: 0;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    20% {
        color: #ffffff;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.submit-button {
    background: #062439;
    align-items: center;
    width: 87.5%;
}

.submit-button input,
.submit-button button,
.submit-button submit {
    border: none
}

.submit-button .cont {
    position: absolute;
    width: 152px;
    /*Done*/
    height: 10px;
    left: 50%;
    top: 50%;
    margin: -25px
        /*Done*/
        0 0 -300px
}

.submit-button button {
    border-width: 1px;
    width: 150px;
    /*Done*/
    height: 50px;
    /*Done*/
    /*border-radius*/
    border-radius: 25px;
    /*Done*/
    background: #ff5100;
    /*change to orange*/
    position: absolute;
    /*border: 1px solid #ff5100*/
}

.submit-button button>span {
    font-size: 18px;
    color: #ffffffff
}

.submit-button img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
}

.submit-button button:focus {
    /*animation*/
    -webkit-animation: extend 1s ease-in-out;
    -ms-animation: extend 1s ease-in-out;
    animation: extend 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
}

.submit-button button:focus>span {
    /*animation*/
    -webkit-animation: disappear 1s ease-in-out;
    -ms-animation: disappear 1s ease-in-out;
    animation: disappear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
}

.submit-button button:focus>img {
    /*animation*/
    -webkit-animation: appear 1s ease-in-out;
    -ms-animation: appear 1s ease-in-out;
    animation: appear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
}