.fade-in {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: src="\images\IMG_0205-EFFECTS_Original.JPG";
  background-size: cover;
}

.fade-in .container {
  width: 100%;
  height: 100vh;
  background: #062439;

  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 800x;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 100px;

      .block {
        width: 0%;
        height: inherit;
        background: #ff5100;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }

      h1 {
        color: #ffffff;
        font-size: 80px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width: 0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          background: #ff5100;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;

        }
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -5px;

      .block {
        width: 0%;
        height: inherit;
        background: #ff5100;
        position: absolute;
        animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        animation: secFadeIn 3s forwards;
        animation-delay: 3s;
        opacity: 0;
        font-weight: 400;
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }

  50% {
    width: 100%;
    left: 0;

  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }

  50% {
    width: 100%;
    left: 0;

  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #ff5100;
    border: 0px solid #ffffff;
    opacity: 0;
  }

  50% {
    width: 20px;
    height: 20px;
    background: #ff5100;
    opacity: 1;
    bottom: 80px;
  }

  65% {
    width: 10px;
    height: 10px;
    bottom: 0px;
    width: 20px
  }

  80% {
    width: 20px;
    height: 20px;
    bottom: 40px
  }

  100% {
    width: 10px;
    height: 10px;
    background: #ff5100;
    border: 0px solid #000000;
    bottom: 20px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}