.x30_02 {
    background: #E5DCD3;
    background: rgba(229, 220, 211, 1);
    border-style: Solid;
    border-color: #E5DCD3;
    border-color: rgba(229, 220, 211, 1);
    border-width: 1px;
}

.x30_05 {
    background: #CC1B39;
    background: rgba(204, 27, 57, 1);
}

.x30_03 {
    background: #E5DCD3;
    background: rgba(229, 220, 211, 1);
    border-style: Solid;
    border-color: #E5DCD3;
    border-color: rgba(229, 220, 211, 1);
    border-width: 1px;
}

.x30_04 {
    background: #E5DCD3;
    background: rgba(229, 220, 211, 1);
    border-style: Solid;
    border-color: #E5DCD3;
    border-color: rgba(229, 220, 211, 1);
    border-width: 1px;
}

.x30_06 {
    background: #E5DCD3;
    background: rgba(229, 220, 211, 1);
    border-style: Solid;
    border-color: #E5DCD3;
    border-color: rgba(229, 220, 211, 1);
    border-width: 1px;
}

.x30_01 {
    background: #E5DCD3;
    background: rgba(229, 220, 211, 1);
    border-style: Solid;
    border-color: #E5DCD3;
    border-color: rgba(229, 220, 211, 1);
    border-width: 1px;
}

.x30_09 {
    background: #F0ECEC;
    background: rgba(240, 236, 236, 1);
    border-style: Solid;
    border-color: #F0ECEC;
    border-color: rgba(240, 236, 236, 1);
    border-width: 1px;
}

.x30_13 {
    background: #F0ECEC;
    background: rgba(240, 236, 236, 1);
    border-style: Solid;
    border-color: #F0ECEC;
    border-color: rgba(240, 236, 236, 1);
    border-width: 1px;
}

.x30_14 {
    background: #F0ECEC;
    background: rgba(240, 236, 236, 1);
    border-style: Solid;
    border-color: #F0ECEC;
    border-color: rgba(240, 236, 236, 1);
    border-width: 1px;
}

.x30_23 {
    background: #F4909F;
    background: rgba(244, 144, 159, 1);
}

.x30_26 {
    background: #F7F8F8;
    background: rgba(247, 248, 248, 1);
}

.x30_28 {
    background: #4C4A49;
    background: rgba(76, 74, 73, 1);
}

.x30_30 {
    background: #01BAC2;
    background: rgba(1, 186, 194, 1);
}

.x30_31 {
    background: #01BCC3;
    background: rgba(1, 188, 195, 1);
}

.x30_33 {
    background: #01B5BE;
    background: rgba(1, 181, 190, 1);
}

.x30_19 {
    background: #F9C7C7;
    background: rgba(249, 199, 199, 1);
}

.x30_20 {
    background: #848C96;
    background: rgba(132, 140, 150, 1);
}

.x30_34 {
    background: #01B6BE;
    background: rgba(1, 182, 190, 1);
}

.x30_22 {
    background: #828A93;
    background: rgba(130, 138, 147, 1);
}

.x30_32 {
    background: #02B5BE;
    background: rgba(2, 181, 190, 1);
}

.x30_27 {
    background: #575455;
    background: rgba(87, 84, 85, 1);
}

.x30_35 {
    background: #01B7BF;
    background: rgba(1, 183, 191, 1);
}

.x30_36 {
    background: #F7F601;
    background: rgba(247, 246, 1, 1);
}

.x30_29 {
    background: #01BCC3;
    background: rgba(1, 188, 195, 1);
}

.x30_21 {
    background: #8B939D;
    background: rgba(139, 147, 157, 1);
}

.x30_24 {
    background: #7D7E7E;
    background: rgba(125, 126, 126, 1);
}

.x30_25 {
    background: #F7F8F8;
    background: rgba(247, 248, 248, 1);
}

.x30_10 {
    background: #F0ECEC;
    background: rgba(240, 236, 236, 1);
    border-style: Solid;
    border-color: #F0ECEC;
    border-color: rgba(240, 236, 236, 1);
    border-width: 1px;
}

.x30_07 {
    background: #E5DCD3;
    background: rgba(229, 220, 211, 1);
    border-style: Solid;
    border-color: #E5DCD3;
    border-color: rgba(229, 220, 211, 1);
    border-width: 1px;
}

.x30_08 {
    background: #F0ECEC;
    background: rgba(240, 236, 236, 1);
}

.x30_47 {
    background: #161719;
    background: rgba(22, 23, 25, 1);
}

.x30_46 {
    background: #7A97A0;
    background: rgba(122, 151, 160, 1);
}

.x30_48 {
    background: #18191A;
    background: rgba(24, 25, 26, 1);
}

.x30_53 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.x30_55 {
    background: #000000;
    background: rgba(0, 0, 0, 1);
}

.st0 {
    background: #CFD1D0;
    background: rgba(207, 209, 208, 1);
}

.st1 {
    background: #089FDA;
    background: rgba(8, 159, 218, 1);
}

.st2 {
    background: #B8BCC1;
    background: rgba(184, 188, 193, 1);
}

.st3 {
    background: #74777A;
    background: rgba(116, 119, 122, 1);
}

.st4 {
    background: #BABABA;
    background: rgba(186, 186, 186, 1);
}

.st5 {
    background: #DCDAD4;
    background: rgba(220, 218, 212, 1);
}

.st6 {
    background: #FE8D46;
    background: rgba(254, 141, 70, 1);
}

.x30_38 {
    background: #340404;
    background: rgba(52, 4, 4, 1);
}

.st7 {
    background: #D1D3D2;
    background: rgba(209, 211, 210, 1);
}

.x30_49 {
    background: #1C1D1E;
    background: rgba(28, 29, 30, 1);
}

.x30_50 {
    background: #15100A;
    background: rgba(21, 16, 10, 1);
}

.x30_39 {
    background: #FDFDFD;
    background: rgba(253, 253, 253, 1);
}

.st8 {
    background: #DADDDC;
    background: rgba(218, 221, 220, 1);
}

.x30_40 {
    background: #829CA5;
    background: rgba(130, 156, 165, 1);
}

.x30_43 {
    background: #8FA7AE;
    background: rgba(143, 167, 174, 1);
}

.x30_51 {
    background: #F95F71;
    background: rgba(249, 95, 113, 1);
}

.x30_45 {
    background: #7D99A1;
    background: rgba(125, 153, 161, 1);
}

.x30_52 {
    background: #F9C7C7;
    background: rgba(249, 199, 199, 1);
}

.x30_54 {
    background: #707170;
    background: rgba(112, 113, 112, 1);
}

.x30_37 {
    background: #340404;
    background: rgba(52, 4, 4, 1);
}

.x30_41 {
    background: #9BB0B6;
    background: rgba(155, 176, 182, 1);
}

.x30_42 {
    background: #9AAFB6;
    background: rgba(154, 175, 182, 1);
}

.x30_44 {
    background: #7D99A1;
    background: rgba(125, 153, 161, 1);
}

.st9 {
    background: #D2E0E0;
    background: rgba(210, 224, 224, 1);
}

.st10 {
    background: #F3E3DD;
    background: rgba(243, 227, 221, 1);
}

.st11 {
    background: #C8B3B0;
    background: rgba(200, 179, 176, 1);
}

.st12 {
    background: #F6FCFD;
    background: rgba(246, 252, 253, 1);
}

.st13 {
    background: #E3E2DF;
    background: rgba(227, 226, 223, 1);
}

.st14 {
    background: #F4F6F7;
    background: rgba(244, 246, 247, 1);
}

.st15 {
    background: #EEEEEE;
    background: rgba(238, 238, 238, 1);
}

.st16 {
    background: #660609;
    background: rgba(102, 6, 9, 1);
}

.st17 {
    background: #33404E;
    background: rgba(51, 64, 78, 1);
}

.st18 {
    background: #460406;
    background: rgba(70, 4, 6, 1);
}

.st19 {
    background: #F9F3F2;
    background: rgba(249, 243, 242, 1);
}

.st20 {
    background: #6B66B0;
    background: rgba(107, 102, 176, 1);
}

.st21 {
    background: #333D4C;
    background: rgba(51, 61, 76, 1);
}

.st22 {
    background: #460406;
    background: rgba(70, 4, 6, 1);
}

.st23 {
    background: #E66C52;
    background: rgba(230, 108, 82, 1);
}

.st24 {
    background: #660609;
    background: rgba(102, 6, 9, 1);
}

.st25 {
    background: #6A6471;
    background: rgba(106, 100, 113, 1);
}

.st26 {
    background: #FCFCFC;
    background: rgba(252, 252, 252, 1);
}

.st27 {
    background: #EECC0E;
    background: rgba(238, 204, 14, 1);
}

.st28 {
    background: #2B0707;
    background: rgba(43, 7, 7, 1);
}

.st29 {
    background: #C8C4BC;
    background: rgba(200, 196, 188, 1);
}

.st30 {
    background: #460406;
    background: rgba(70, 4, 6, 1);
}

.st31 {
    background: #FAFBFB;
    background: rgba(250, 251, 251, 1);
}

.st32 {
    background: #F4909F;
    background: rgba(244, 144, 159, 1);
}

.st33 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st34 {
    background: #D3C265;
    background: rgba(211, 194, 101, 1);
}

.st35 {
    background: #E6ECF4;
    background: rgba(230, 236, 244, 1);
}

.st36 {
    background: #BCBDBF;
    background: rgba(188, 189, 191, 1);
}

.st37 {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
}

.st38 {
    background: #D6D7D9;
    background: rgba(214, 215, 217, 1);
}

.st39 {
    background: #BBBDBE;
    background: rgba(187, 189, 190, 1);
}

.st40 {
    background: #AAB2BD;
    background: rgba(170, 178, 189, 1);
}

.st41 {
    background: #CFD4DC;
    background: rgba(207, 212, 220, 1);
}

.st42 {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
}

.st43 {
    background: #F9F9F9;
    background: rgba(249, 249, 249, 1);
}

.st44 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st45 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st46 {
    background: #E1CC6A;
    background: rgba(225, 204, 106, 1);
}

.st47 {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
}

.st48 {
    background: #F95F71;
    background: rgba(249, 95, 113, 1);
}

.st49 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st50 {
    background: #2F0F0E;
    background: rgba(47, 15, 14, 1);
}

.st51 {
    background: #D3A06C;
    background: rgba(211, 160, 108, 1);
}

.st52 {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
}

.st53 {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
}

.st54 {
    background: #F76B7F;
    background: rgba(247, 107, 127, 1);
}

.st55 {
    background: #E5655E;
    background: rgba(229, 101, 94, 1);
}

.st56 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st57 {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
}

.st58 {
    background: #9EA6B0;
    background: rgba(158, 166, 176, 1);
}

.st59 {
    background: #AB7443;
    background: rgba(171, 116, 67, 1);
}

.st60 {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
}

.st61 {
    background: #A5ACB7;
    background: rgba(165, 172, 183, 1);
}

.st62 {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
}

.st63 {
    background: #F93E4C;
    background: rgba(249, 62, 76, 1);
}

.st64 {
    background: #E2CE6B;
    background: rgba(226, 206, 107, 1);
}

.st65 {
    background: #1A2934;
    background: rgba(26, 41, 52, 1);
}

.st66 {
    background: #DAD9DA;
    background: rgba(218, 217, 218, 1);
}

.st67 {
    background: #B1B1AF;
    background: rgba(177, 177, 175, 1);
}

.st68 {
    background: #FBFCFD;
    background: rgba(251, 252, 253, 1);
}

.st69 {
    background: #C10E13;
    background: rgba(193, 14, 19, 1);
}

.st70 {
    background: #190C14;
    background: rgba(25, 12, 20, 1);
}

.st71 {
    background: #2E1D24;
    background: rgba(46, 29, 36, 1);
}

.st72 {
    background: #A20F12;
    background: rgba(162, 15, 18, 1);
}

.st73 {
    background: #E9CA8F;
    background: rgba(233, 202, 143, 1);
}

.st74 {
    background: #E66E54;
    background: rgba(230, 110, 84, 1);
}

.st75 {
    background: #ECCD93;
    background: rgba(236, 205, 147, 1);
}

.st76 {
    background: #89C8FD;
    background: rgba(137, 200, 253, 1);
}

.st77 {
    background: #655B65;
    background: rgba(101, 91, 101, 1);
}

.st78 {
    background: #410C0E;
    background: rgba(65, 12, 14, 1);
}

.st79 {
    background: #C8B3B0;
    background: rgba(200, 179, 176, 1);
}

.st80 {
    background: #49C7EE;
    background: rgba(73, 199, 238, 1);
}

.st81 {
    background: #FDD1A2;
    background: rgba(253, 209, 162, 1);
}

.st82 {
    background: #FEF2DD;
    background: rgba(254, 242, 221, 1);
}

.st83 {
    background: #560304;
    background: rgba(86, 3, 4, 1);
}

.st84 {
    background: #080202;
    background: rgba(8, 2, 2, 1);
}

.st85 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st86 {
    background: #00B7FF;
    background: rgba(0, 183, 255, 1);
}

.st87 {
    background: #E4615B;
    background: rgba(228, 97, 91, 1);
}

.st88 {
    background: #FD5F25;
    background: rgba(253, 95, 37, 1);
}

.st89 {
    background: #030303;
    background: rgba(3, 3, 3, 1);
}

.st90 {
    background: #CC1B39;
    background: rgba(204, 27, 57, 1);
}

.st91 {
    background: #0C0C0C;
    background: rgba(12, 12, 12, 1);
}

.st92 {
    background: #060606;
    background: rgba(6, 6, 6, 1);
}

.st93 {
    background: #030303;
    background: rgba(3, 3, 3, 1);
}

.st94 {
    background: #080808;
    background: rgba(8, 8, 8, 1);
}

.st95 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st96 {
    background: #050505;
    background: rgba(5, 5, 5, 1);
}

.st97 {
    background: #060606;
    background: rgba(6, 6, 6, 1);
}

.st98 {
    background: #080808;
    background: rgba(8, 8, 8, 1);
}

.st99 {
    background: #040404;
    background: rgba(4, 4, 4, 1);
}

.st100 {
    background: #141414;
    background: rgba(20, 20, 20, 1);
}

.st101 {
    background: #010101;
    background: rgba(1, 1, 1, 1);
}

.st102 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st103 {
    background: #020202;
    background: rgba(2, 2, 2, 1);
}

.st104 {
    background: #020202;
    background: rgba(2, 2, 2, 1);
}

.st105 {
    background: #010101;
    background: rgba(1, 1, 1, 1);
}

.st106 {
    background: #0D0D0D;
    background: rgba(13, 13, 13, 1);
}

.st107 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st108 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st109 {
    background: #040404;
    background: rgba(4, 4, 4, 1);
}

.st110 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st111 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st112 {
    background: #F95F71;
    background: rgba(249, 95, 113, 1);
}

.st113 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st114 {
    background: #010101;
    background: rgba(1, 1, 1, 1);
}

.st115 {
    background: #080808;
    background: rgba(8, 8, 8, 1);
}

.st116 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st117 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st118 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st119 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st120 {
    background: #010101;
    background: rgba(1, 1, 1, 1);
}

.st121 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st122 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st123 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st124 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st125 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st126 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st127 {
    background: #F0ECEC;
    background: rgba(240, 236, 236, 1);
    border-style: Solid;
    border-color: #F0ECEC;
    border-color: rgba(240, 236, 236, 1);
    border-width: 1px;
}

.st128 {
    background: #FA131C;
    background: rgba(250, 19, 28, 1);
}

.st129 {
    background: #010101;
    background: rgba(1, 1, 1, 1);
}

.st130 {
    background: #F78696;
    background: rgba(247, 134, 150, 1);
}

.st131 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st132 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st133 {
    background: #CC1B39;
    background: rgba(204, 27, 57, 1);
}

.st134 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st135 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st136 {
    background: #010101;
    background: rgba(1, 1, 1, 1);
}

.st137 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st138 {
    background: #363334;
    background: rgba(54, 51, 52, 1);
}

.st139 {
    background: #363233;
    background: rgba(54, 50, 51, 1);
}

.st140 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st141 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st142 {
    background: #363334;
    background: rgba(54, 51, 52, 1);
}

.st143 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st144 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st145 {
    background: #010101;
    background: rgba(1, 1, 1, 1);
}

.st146 {
    background: #363334;
    background: rgba(54, 51, 52, 1);
}

.st147 {
    background: #363334;
    background: rgba(54, 51, 52, 1);
}

.st148 {
    background: #FA141D;
    background: rgba(250, 20, 29, 1);
}

.st149 {
    background: #363334;
    background: rgba(54, 51, 52, 1);
}

.NormalCharacterStyle {
    font-family: Arial Rounded MT Bold;
    font-size: 30px;
    color: #000000;
    color: rgb(0, 0, 0);
}

.NormalCharacterStyle3 {
    font-family: Arial Rounded MT Bold;
    font-size: 30px;
    color: #000000;
    color: rgb(0, 0, 0);
}

.NormalCharacterStyle4 {
    font-family: Arial Rounded MT Bold;
    font-size: 30px;
    color: #000000;
    color: rgb(0, 0, 0);
}

.NormalCharacterStyle5 {
    font-family: Arial Rounded MT Bold;
    font-size: 30px;
    color: #000000;
    color: rgb(0, 0, 0);
}

.NormalCharacterStyle2 {
    font-family: Arial Rounded MT Bold;
    font-size: 30px;
    color: #000000;
    color: rgb(0, 0, 0);
}

.NormalCharacterStyle6 {
    font-family: Arial Rounded MT Bold;
    font-size: 21px;
    color: #F4F4F4;
    color: rgb(244, 244, 244);
}

.NormalCharacterStyle1 {
    font-family: Arial Rounded MT Bold;
    font-size: 30px;
    color: #000000;
    color: rgb(0, 0, 0);
}