.enquiry-form {
  display: none;
  position: fixed;
  bottom: 120px;
  right: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1001;
}

.enquiry-form form {
  display: flex;
  flex-direction: column;
}

.enquiry-form input,
.enquiry-form textarea,
.enquiry-form button {
  margin-bottom: 10px;
}

@keyframes envelopeVibration {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(-1deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(1deg);
  }
}

.letter-image {
  z-index: 1000;
  position: fixed;
  /* Change from absolute to fixed */
  bottom: 5px;
  right: 5px;
  width: 150px;
  /*done*/
  height: 100px;
  /*done*/
  transform: translate(-50%, -50%);
  cursor: pointer;
  animation: envelopeVibration 1s ease-in-out infinite alternate;
}

.letter-image:hover {
  animation: none;
  /* Stop the animation when hovering */
}

.letter-image .animated-mail {
  position: absolute;
  height: 75px;
  /*done*/
  width: 200px;
  /*done*/
  transition: .4s;
}

.letter-image .animated-mail .body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 200px;
  /*done*/
  border-color: transparent transparent #ff5100 transparent;
  z-index: 2;
}

.letter-image .animated-mail .top-fold {
  position: absolute;
  top: 25px;
  /*done*/
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 100px 0 100px;
  /*done*/
  transform-origin: 50% 0%;
  transition: transform .4s .4s, z-index .2s .4s;
  border-color: #ff6000 transparent transparent transparent;
  z-index: 2;
}

.letter-image .animated-mail .back-fold {
  position: absolute;
  bottom: 0;
  width: 200px;
  /*done*/
  height: 50px;
  /*done*/
  background: linear-gradient(to right, #ff5100, #dc4600);
  z-index: 0;
}

.letter-image .animated-mail .left-fold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 100px;
  /*done*/
  border-color: transparent transparent transparent #ff5607;
  z-index: 2;
}

.letter-image .animated-mail .letter {
  left: 10px;
  bottom: 0px;
  position: absolute;
  width: 180px;
  /*done*/
  height: 30px;
  /*done*/
  background: #f0f0f0;
  z-index: 1;
  overflow: hidden;
  transition: .4s .2s;
}

.letter-image .animated-mail .letter .letter-border {
  height: 5px;
  /*done*/
  width: 100%;
  background: repeating-linear-gradient(-45deg, #ff5100, #ff5100 8px, transparent 8px, transparent 18px);
}

.letter-image .animated-mail .letter .letter-title {
  margin-top: 5px;
  /*done*/
  margin-left: 2.5px;
  /*done*/
  height: 5px;
  /*done*/
  width: 40%;
  text-align: left;
  color: #000000;
  /* text inside */
}

.letter-image .animated-mail .letter .letter-context {
  margin-top: 5px;
  /*done*/
  margin-left: 2.5px;
  /*done*/
  height: 5px;
  /*done*/
  width: 80%;
  text-align: left;
  color: #000000;
  /* text inside */

}

.letter-image .animated-mail .letter .letter-stamp {
  margin-top: 20px;
  /*done*/
  margin-left: 140px;
  /*done*/
  border-radius: 100%;
  height: 15px;
  /*done*/
  width: 15px;
  /*done*/
  background: #ff5100;
}

.letter-image .shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: .4s;
  transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}

.letter-image:hover .animated-mail {
  transform: translateY(30px);
}

.letter-image:hover .animated-mail .top-fold {
  transition: transform .4s, z-index .2s;
  transform: rotateX(180deg);
  z-index: 0;
}

.letter-image:hover .animated-mail .letter {
  height: 100px;
  /*done*/
}

.letter-image:hover .shadow {
  width: 250px;
  /*done*/
}